[submodule "intercept"]
	path = intercept
	url = https://github.com/intercept/intercept.git
[submodule "lib/sqfvm"]
	path = lib/sqfvm
	url = https://github.com/SQFvm/vm.git
[submodule "websocketpp"]
	path = websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	branch = develop
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
